{{#if matchErrorMessage}}
  <div data-alert class="alert-box alert">Alert: {{matchErrorMessage}} </div>
{{/if}}
{{#if matchInfoMessage}}
  <div data-alert class="alert-box info">Info: {{matchInfoMessage}} </div>
{{/if}}
{{#if matchSuccessMessage}}
  <div data-alert class="alert-box success">Success: {{matchSuccessMessage}} </div>
{{/if}}

Dashboard
