<div class="row" style="min-height: 400px;">
  <div class="small-12 columns text-center">
    <br>
    <br>
    <p>Loading...</p>
    <br>
    <img src="/assets/loader.gif" alt="Loading...">
  </div>
</div>
