<div class="row">
  <div class="small-6 columns">
    {{outlet 'job'}}
  </div>
  <div class="small-6 columns">
    {{outlet 'request'}}
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center">
    <button class="button radius small">Make the match!</button>
  </div>
</div>
