<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.email %></h1>
    <p>
      A nice kep user matched you with someone. To see the recommendation, click the link above.

      <%= @url %>
    </p>
  </body>
</html>