<form id="updateaffiliations" {{action 'updateAffiliations' on='submit'}}>
  <label for="affiliations">Affiliations</label>
      {{select-2
          content=affiliations_select
          value=model.account.affiliation_ids
          multiple=true
          optionValuePath="id"
          optionLabelPath="affiliation"
          placeholder="What would you like to do here?"
      }}
  <button id="submit" type="submit" class="pull-right micro">Submit</button>
</form>
