<form id="updatedisplayname" {{action 'updateDisplayName' on='submit'}}>
  <label for="display_name">Display Name</label>
  {{input id='display_name' placeholder='Enter your desired display name'
          value=model.account.display_name}}
  <button id="submit" type="submit" class="pull-right micro">Change it</button>
</form>
