<form id="updateskills" {{action 'updateSkills' on='submit'}}>
  <label for="skills">Skills</label>
      {{select-2
          content=skills_select
          value=model.account.skill_ids
          multiple=true
          optionValuePath="id"
          placeholder="What are yor skills?"
      }}
  <button id="submit" type="submit" class="pull-right micro">Submit</button>
</form>
