<form id="updateurl" {{action 'updateUrl' on='submit'}}>
  <label for="url">URL</label>
  {{input id='url' placeholder="Enter your website's URL"
          value=model.account.url}}
  <button id="submit" type="submit" class="pull-right micro">Change it</button>
</form>
