@import "settings";
@import "ember-foundation";

/* Custom mixins */
@mixin roll-toolbar-icon($color) {
  i {
    font-size: 16px;
    padding: 8px 3px;
    display: inline-block;
    cursor: pointer;
    &:hover {
      color: darken($color, 20%);
      /*background-color: black;*/
    }
  }
}

/* Start utility classes */
.outline-black { outline: 1px solid black; }
.outline-red { outline: 1px solid red; }
.outline-blue { outline: 1px solid blue; }
.outline-pink { outline: 1px solid pink; }
.outline-green { outline: 1px solid green; }
.outline-yellow { outline: 1px solid yellow; }
.outline-magenta { outline: 1px solid magenta; }
/* End utility classes */

/* Color variables */

/*$kep-postbase: lighten(saturate(#C2DB65, 7), 9);*/
/*$kep-postbase: rgba(237, 222, 185, 0.7);*/
$kep-postbase: rgba(255, 228, 171, 0.4);
$kep-postbase: #E4FAEC;
/*$kep-postaccent: darken( $kep-postbase, 50% );*/
$kep-postaccent: lighten($kep-postbase, 5%);
$kep-normaltext: #141617;
$kep-rollbackground: #FCF3F8;
$kep-rollbackground: #FEFEFE;

/* The SASS! */
html, body {
  background: #CBF4DA;
  background: #E1F9E9;
  background: linen;
}

.top-bar {
  box-shadow: 0px 2px 2px 0px rgba(50, 50, 50, 0.75);
}

p {
  /*color: $kep-normaltext;*/
}

div.spacer { width: 100%; height: 50px; }
div.h100 { min-height: 100px; }
div.h200 { min-height: 200px; }
div.h300 { min-height: 300px; }
div.h400 { min-height: 400px; }

div.growl-container {
  position: absolute;
  top: 50px;
  right: 0px;
  width: 400px;
  z-index: 10;
  div.alert-box {
    margin-bottom: 0.25em;
  }
}

div.slit {
  margin: 0px auto;
  background-color: #F3F3F3;
  border: 0;
  width: 100%;
  position: absolute;
  padding: auto 10px;
  &.up {
    /*background-color: #008cba;*/
    box-shadow: 0px 3px 65px 3px #ccc;
    top: 0px;
    height: 3px;
    .roll-tools-left {
      display: none;
      color: #ffffff;
      float: left;
      margin-left: 10px;
      @include roll-toolbar-icon(#fff);
    }
    .roll-tools-right {
      display: none;
      color: #ffffff;
      float: right;
      margin-right: 10px;
      @include roll-toolbar-icon(#fff);
    }
  }
  &.down {
    height: 3px;
    background-color: #fefefe;
    box-shadow: 0px -3px 65px 4px #777;
    margin-top: -6px;
    bottom: 0px;
  }
}

div.roll-container {
  overflow: hidden;
  /*padding-top: 10px;*/
  width: 100%;
  position: relative;
  /*border-bottom: 1px solid #ccc;*/
  div.rollmask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(255,255,255,.6);
    display: none;
  }
}

ul.roll {
  position: relative;
  overflow: hidden;
  height: 470px;
  list-style: none;
  margin: 0px auto;
  background-color: $kep-rollbackground;
  /*margin-top: 25px;*/
  > a li.post {
    min-height: 100px;
    color: #555;
    background-color: $kep-postbase;
    padding: 10px 8px 25px 8px;
    position: relative;
    border-bottom: 1px dashed #cccccc;
    &:hover {
      background-color: $kep-postaccent;
      cursor: pointer;
      color: #222;
    }
    > span {
      display: block;
      &.post_title {
        /*font-weight: bold;*/
        font-size: .8em;
        margin-bottom: 10px;
      }
      &.post_excerpt {
        font-size: .8em;
        padding: 3px 0px;
        font-style: oblique;
      }
      &.left_icons {
        position: absolute;
        left: 10px;
        bottom: 5px;
        i.fa {
          display: inline-block;
          width: 1em;
          text-align: center;
        }
      }
      &.right_icons {
        position: absolute;
        right: 10px;
        bottom: 5px;
      }
    }
    .description-trigger {
      position: relative;
      float: none !important;
      font-size: .6em;
    }
    .ember-tooltip{
      div.tip {
        padding: 3px;
        z-index: 10;
        width: 230px;
        border-radius: 2px;
        background-color: rgba(100,100,100,.9);
        color: #ddd;
      }
      p {
        font-size: .7em;
      }
    }
  }
}

/* Perfect scrollbar customizations */

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  width: 3px;
  border-radius: 0px;
}

.clickthrough {
  pointer-events: none;
}

div.content {
  background: white;
  word-wrap: break-word;
  h1.content-title {
    font-size: 1.3em;
  }
  ul.details-list,
  ul.details-list ul{
    list-style: none;
    ul {margin-left: 0px;}
    li .list-icon {
      display: inline-block;
      width: 2em;
      text-align: center;
      background-color: rgba(255,255,255,.5);
    }
  }
}


/* Start profile page stuff */
div.profile{
  background-color: lighten(#F7F2CC, 10%);
  padding: 2em;
  .label {
    font-size: 1em;
    font-style: oblique;
  }
  div[class$="-container"] {
    margin-bottom: 1em;
  }

  /* Profile resets */
  ul {list-style: none;}

  div.profile-left {}
  div.profile-inset {
    border-left:   1px dashed #888;
    border-bottom: 1px dashed #888;
    div.profile-center {
      /*border-right: 1px dashed #bbb;*/
    }
    div.profile-right {
      border-left: 1px dashed #bbb;
    }
  }
  div.profile-bottom {}

  div.username-container {
    margin-bottom: 1em;
    span {
      font-weight: bold;
      font-size: 1.1em;
    }
  }
  div.bio-container {
    padding-right: 2em;
    div.bio { }
  }
  div.avatar-container {  
    text-align: center;
    div.avatar {
      float: none;
      margin: 0px auto;
    }
  }
  div.url-container {
    div.url {}
  }
  div.availability {}
  div.locations-container {
    ul.locations {
      li {}
    }
  }
  div.skills {
    .skill {}
  }
  div.languages-container {
    ul.languages {
      li {}
    }
  }
  div.affiliations-container {
    span.label {
      float: none;
      margin: 0px auto;
      display: block;
    }
    ul.affiliations {
      margin: 0em auto;
      text-align: center;
      >li {
        line-height: 90%;
        margin: 10px;
      }
    }
  }
  div.intentions-container {
    ul.intentions {
      >li {}
    }
  }
  ul.affiliations,
  ul.intentions,
  ul.languages,
  ul.skills {
    > li {font-size: .95em;}
  }
  div.submissions {
    div.resources-container {
      ul.resources {
        li {}
      }
    }
    div.assignments-container {
      ul.assignments {
        li {}
      }
    }
  }
}
/* End profile page stuff */


/* MISC FOUNDATION CUSTOMIZATIONS */

.micro {
  padding: 3px 4px;
  font-size: .6em;
  margin: 0px;
}


.select2-container {
  width: 100%;
}

.ece-bubble {
  color: #000;
  background-color: rgba(255,255,255,.85);
  position: absolute;
  border: 1px solid #dadada;
  bottom: 45px;
  left: 38px;
  width: 188px;
  padding: 10px;
  border-radius: 3px;
}

.ece-buttons, .ece-question {
  text-align: center;
}

.ece-confirm, .ece-decline {
  color: #00f;
  text-decoration: underline;
  cursor: pointer;
}
