<h5>Job details</h5>
<div class="row">
  <div class="small-1 columns">&nbsp;</div>
  <div class="small-10 columns content">
    <h1 class="content-title">
      {{model.title}}
    </h1>
    <hr>
    <p>
      {{model.description}}
    </p>

    <button class="small radius pull-right" {{action 'deleteJob'}}>
      Delete this
    </button>
    {{#link-to 'jobs.edit'}}Edit{{/link-to}}
  </div>
  <div class="small-1 columns">&nbsp;</div>
</div>

