{{outlet}}

<footer class='panel small' style='margin-top: 10px; padding: 5px;'>
  <div class="row">
    <div class="small-12 columns text-center">
      <small>
        <a href="https://github.com/thesponge/kep">GitHub</a>
        &#9830;
        <a href="https://github.com/thesponge/kep/issues">Issues</a>
        &#9830;
        <a href="http://wiki.thesponge.eu/KEP">Wiki</a>
      </small>
    </div>
  </div>
</footer>
