{{partial 'p-navbar'}}

<div class="spacer"></div>

<div class="row h300">
  <div class="small-1 columns">&nbsp;</div>
  <div class="small-10 columns profile">
    <div class="row">

      <div class="small-6 columns profile-left">
        <div class="biography">
          <span class="label secondary">Biography</span>
          {{lorem-ipsum length=550}}
        </div>
        <div class="url">
          <span class="label secondary">Website</span>
          <a href="#">http://kep.thesponge.eu</a>
        </div>
        <div class="locations-container">
          <span class="label secondary">Locations:</span>
          <ul>
            <li><a href="#">City, Country</a></li>
            <li><a href="#">City, Country</a></li>
          </ul>
        </div>
      </div>

      <div class="small-6 columns profile-inset">
        <div class="row">
          <div class="small-8 columns profile-center">
            <div class="username-container text-center">
              <span>{{model.display_name}}</span>
            </div>
            <div class="avatar">
              <ul class="clearing-thumbs" data-clearing>
                <li class="avatar">
                  <a class="th" href="http://lorempixel.com/500/500">
                    <img src="http://lorempixel.com/100/100">
                  </a>
                </li>
              </ul>
            </div>
            <br>
            <div class="affiliations-container">
              <span class="label secondary">Affiliations</span>
              <ul class="affiliations">
                <li><a href="#">Centrul Român pentru Jurnalism de Investigație</a></li>
                <li><a href="#">The Guardian</a></li>
                <li><a href="#">Asociația pentru Tehnologie și Internet (ApTI)</a></li>
              </ul>
            </div>
          </div>
          <div class="small-4 columns profile-right">
            <div class="skills-container">
              <span class="label secondary">Skills:</span>
              <ul class="skills">
                <li><a href="#">Skill 1</a> <small>(<a href="#">proof</a>)</small></li>
                <li><a href="#">Skill 2</a></li>
                <li><a href="#">Skill 3</a> <small>(<a href="#">proof</a>)</small></li>
              </ul>
            </div>
            <div class="languages-container">
              <span class="label secondary">Languages:</span>
              <ul class="languages">
                <li>Swahili</li>
                <li>Zulu</li>
                <li>Klingonian</li>
              </ul>
            </div>
            <div class="intentions-container">
              <span class="label secondary">Intentions:</span>
              <ul class="intentions">
                <li>Brainstorming</li>
                <li>Development</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>
    
    <div class="row">
      <div class="small-12 columns">
        <ul class="small-block-grid-2 submissions">
          <li class="resources">
            <span class="label secondary">Resources shared</span>
            <ul>
              <li><a href="#">Resource #1</a></li>
              <li><a href="#">Resource #2</a></li>
            </ul>
          </li>
          <li class="assignments">
            <span class="label secondary">Assignments offered</span>
            <ul>
              <li><a href="#">Assignment #1</a></li>
              <li><a href="#">Assignment #2</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="small-1 columns">&nbsp;</div>
</div>
