{{partial 'p-navbar'}}
<div class="row" style="min-height: 400px;">
  <div class="small-3 columns">&nbsp;</div>
  <div class="small-6 columns text-center">
    <p>
      <br> <br> <br> <br> <br>
      Your account confirmation phase is now complete. Please proceed to the
      <a href="/login">login page</a>.
    </p>
  </div>
  <div class="small-3 columns">&nbsp;</div>
</div>
