{{partial 'p-navbar'}}
<div class="row" style="min-height: 400px;">
  <div class="small-3 columns">&nbsp;</div>
  <div class="small-6 columns text-center">
    <p>
      You did it!
    </p>
  </div>
  <div class="small-3 columns">&nbsp;</div>
</div>
