{{partial 'p-navbar'}}

<!--<div id="registerModal" class="reveal-modal" data-reveal>-->
  <div class="row">
    <div class="small-2 xlarge-3 columns">&nbsp;</div>
    <div class="small-8 xlarge-6 columns">
      <div class="row">
        <div class="small-8 xlarge-7 push-2 xlarge-push-3 columns">
          <form id="recover" {{action 'deviseSendRecover' identification on='submit'}}>
            <fieldset>
              <legend>Password recovery</legend>
              <label for="identification">Email address</label>
              {{input id='identification' placeholder='Enter your email address'
                      value=identification}}
              <button id="submit" type="submit">Submit</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <div class="small-2 xlarge-3 columns">&nbsp;</div>
  </div>
  <!--<a class="close-reveal-modal">&#215;</a>-->
<!--</div>-->

{{!--
<script>$('#registerModal').foundation('reveal', 'open');</script>
<script>
  $(document).on('close.fndtn.reveal', '[data-reveal]', function () {
    setTimeout(function(){
      history.back();
    }, 1000);
  });
</script>
--}}
